.message-index-foundation {
    width: 100%;
    height: 230px;
    background-color: #FAFAFA;
}

.main-block {
    width: 935px;
    height: 196px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    display: inline-block;
}

.main-left-block {
    width: 350px;
    height: 196px;
    border-right: 1px solid #DBDBDB;
}

.left-upper-block {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #DBDBDB;
}

.left-under-block {
    width: 100%;
    height: 136px;
}

.main-right-block {
    width: 585px;
    height: 196px;
}

.right-upper-block {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #DBDBDB;
}

.right-under-block {
    width: 100%;
    height: 136px;
}

.creater-img{
    width: 56px;
    height: 56px;
}