.message-index-foundation {
    width: 100%;
    height: 530px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block {
    width: 935px;
    height: 500px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    display: inline-block;
}

.main-upper-block{
    width: 100%;
    height: 60px;
    display: flex;
}

.upper-left-block {
    width: 350px;
    height: 100%;
    border-right: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-right-block-new {
    width: 585px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}

.main-under-block {
    width: 100%;
    height: 440px;
    display: flex;
}

.under-left-block {
    width: 350px;
    height: 100%;
    border-right: 1px solid #DBDBDB;
    text-align: left;
    overflow: scroll;
}

.each-funs-block {
    display: flex;
    align-items: center;
}

.each-creaters-block {
    display: flex;
    align-items: center;
}

.under-right-block-new {
    width: 585px;
    height: 100%;
    overflow: scroll;
    position: relative;
}

.message-companion-images {
    width: 56px;
    height: 56px;
}

.new-message-form {
    width: 543px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    bottom: 10px;
    border: 1px solid #DBDBDB;
    position: absolute;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.message-type-icon {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.message-content {
    border: none;
    margin-left: 13px;
}


/*表示・非表示設定*/

#message-type-icon-id {
    display: none;
}

.message-type-icon-id {
    display: inline-block;
    cursor: pointer;
}

.message-types-block {
    background-color: #FFFFFF;
    height: 100px;
}

#message-type-icon-id:checked+label+.message-types-block{
    display: none;
}
