.registrations {
    height: 1018px;
    width: 1280px;
    background-color: #FAFAFA;
}

.center-block {
    width: 350px;
    height: 630px;
    margin: 0 auto;
}

.center-white-block {
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    height: 636px;
    margin-top: 52px;
}

.funup-logo-registration {
    width: 273px;
    height: 92px;
}

.under-block {
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    height: 70px;
    margin: 0 auto;
    margin-top: 125px;
}